body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f9;
}

.container_form {
    max-width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    padding: 2%;
}

.form-container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
        /* justify-content: center;
    align-items: center; */
    font-size: 30px;
    font-family: Circular;
    font-weight: bold;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    align-content: center;
    align-items: center;
    
}

input[type="text"],
input[type="tel"],
select {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #bfc0c0;
    border-radius: 30px;
    font-size: 16px;
    width: 100%;
    
}

h2 {
    margin-top: 20px;
    font-size: 18px;
}

.options-container {
    margin-top: 10px;
}

.options {
    display: flex;
    margin-top: 8px;
}

.options input[type="radio"] {
    display: none;
}

.options label {
    flex: 1;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    margin: 10px;
}

.options label:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); /* Added a slight shadow at the bottom */
}

.options label.color1 {
    background-color: rgb(199, 33, 33);
}

.options label.color2 {
    background-color: rgb(216, 130, 24);
}

.options label.color3 {
    background-color: rgb(214, 214, 17);
}

.options label.color4 {
    background-color: #4CAF50;
}

.options label.color5 {
    background-color: darkgreen;
}

.options input[type="radio"]:checked + label {
    background-color: rgb(0, 51, 128);
}
.options input[type="radio"]:checked + label {
    background-color: rgb(0, 51, 128);
    filter: brightness(0.5);
    
}

button {
    background-color: #1877F1;
    color: white;
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
    width: 30%;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}


