
.flex-container {
    display: flex;
    flex-wrap: stretch;

    height: 800px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    /* height: 800px; */
    background-color: #f1f1f1;
  }

  .flex-item {
    color: #f1f1f1;
    font-size: 400px;
    width: 200px;
    flex-grow: 1;
    /* padding: 20px; */
    /* margin: 10px; */
    /* border-radius: 20px; */
    word-break: break-word;
    text-align: center;
    height: 900px;
    font-family: Hanson-Bold;
    font-size: 30px;
    transition: flex-grow 0.5s;
  }

  .flex-item:hover {
    flex-grow: 2.5;
    filter: brightness(80%);
    transition: 0.5s;

  }

  .flex-item:hover:after {
    filter: brightness(100%);

  }

  .flex-item:nth-child(1) {
    background-image: url(rumen-data-analytics-abstract.png);
    background-size: cover;
    background-position: center;

  }



  .flex-item:nth-child(2) {
    background-image: url(windows-10x-abstract-uhdpaper.com-hd-6.2194.jpg);
    background-size: cover;
    background-position: center;

  }

  .flex-item:nth-child(3) {
    background-size: cover;
    background-image: url(contact-us-concept-landing-page_52683-12860.avif);
    background-position: center;
  }



  .flex-item:hover .text-container1 {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .text-container1 {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .text-container1 p {

    color: white;
  }


  .ncbox{
    height: 50vh;
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 35px;
    transition: padding 0.2s, font-size 0.2s, color 0.2s;
    border-radius: 40px;
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    background-color:  white;
    transition: box-shadow 0.3s ease;
    border: 5px solid #1877F1;
   }
  
  .ncbox:hover{
    box-shadow: 0 0 15px #1877F1; /* Subtle blue shadow */  
  }
  
  
  .price{
    font-size: 50px;
    text-align: end;
      left: 70%;
    font-weight: bold;
      position: relative;
      height: 100%;
      width: 30%;
      border-radius: 37.5px;
      background-size: cover;
      background-position: center;
  }
  
  
  
  .add-button{
    position: absolute;
    left: 1420px;
    font-size: 25px;
  }
  
  .item{
      position: relative;
    font-size: 43px;
    position:absolute;
    left:40px;
      width: 50%;
      font-family: Circular;
  
  }
  
  
  
  
  