<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="nav.css" />
        <link rel="stylesheet" href="slideshow.css" />
        <link rel="stylesheet" href="hospital.css" />


        <title>DRONOS</title>

      </head>
<body style="background-color: black;">
    <nav style="font-family: Arial, Helvetica, sans-serif">
      <a id="clicktohome" href="homepage.html"  style="
      width: 20%;
      float: left;
      position: relative;
      text-align: center;
      padding-top: 1.4%;
      font-family: Hanson-Bold;
      font-size: 75px;"
      
        >DRONOS</a>
      <ul
        style="
          width: 35%;
          float: right;
          margin-right: 50px;
          text-align: center;
          margin-top: 20px;
          font-family: Arial, Helvetica, sans-serif;
        "
      >
        <li><a href="analytics.html">Analytics</a></li>
        <li><a href="hardware.html">Hardware</a></li>

        <li><a href="categories.html">Contact Us</a></li>

      </ul>
    </nav>

    <div class="slideshow-container" style="font-family: Arial, Helvetica, sans-serif;">

        <div class="mySlides fade">
          <div id="initial_container">Think Big,<br> Fly Small.. <br> Where Intelligence <br> Meets Altitude!</div>
          <div id="typing" style="height:100px;" ></div>
        </div>
       
       
        
    </div>
        <br>
        <div class="slideshow-container" style="font-family: Arial, Helvetica, sans-serif; background-image: url(red-and-neon-pink-gradient-nkuk6yri93mdljxe.jpg);">

          <div id="initial_container_2">PROJECT REQUIREMENTS<br> <section style="color: aliceblue; text-align: left; margin-left: 2%; margin-top: 4%;">Drone Module <br> Sensors <br> Data Analytics </section></div>
       
       
        
    </div>

        <div class="slideshow-container" style="font-family: Arial, Helvetica, sans-serif; background-image: url(dji-mavic-air-2-review-Pat-Kay-Blog-09015_1920x.webp); ">

          <div id="initial_container_2" style="text-align: center; ">MODULE FOR DRONE </div>
       
       
        
    </div>

        <div class="flex-container" style="margin-top: 20px; height: 700px; ">
            <div class="flex-item">
              <a style="text-decoration: none; color: white" href="" target="_self">
                <p class="text-container1" style="font-size: 70px;">ANALYTICS</p>
              </a>
            </div>
            <div class="flex-item">
              <a style="text-decoration: none; color: white" href="" target="_self">
                <p class="text-container1" style="font-size: 70px;">HARDWARE</p>
              </a>
            </div>
            <div class="flex-item">
              <a style="text-decoration: none; color: white" href="https://www.apollospectra.com/hyderabad/kondapur/our-hospitals/best-hospital-in-kondapur-hyderabad" target="_self">
                <p class="text-container1" style="font-size: 70px;">ABOUT US</p>
              </a>
            </div>

        
          </div>

        <script>
            let slideIndex = 1;
            showSlides(slideIndex);
            
            function plusSlides(n) {
              showSlides(slideIndex += n);
            }
            
            function currentSlide(n) {
              showSlides(slideIndex = n);
            }
            
            function showSlides(n) {
              let i;
              let slides = document.getElementsByClassName("mySlides");
              let dots = document.getElementsByClassName("dot");
              if (n > slides.length) {slideIndex = 1}    
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
              }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex-1].style.display = "block";  
              dots[slideIndex-1].className += " active";
            
            }
            
            // Change slides automatically every 3 seconds
            setInterval(function() {
              plusSlides(1);
            }, 4000);
            

            const typingText = "We Have Got You Covered!!";
            const typingDelay = 40; // in milliseconds
            let index = 0;
            const typingEl = document.getElementById("typing");
            
            function type() {
                typingEl.textContent += typingText[index];
            
                if (++index < typingText.length) {
                    setTimeout(type, typingDelay);
                }
            }
            
            setTimeout(type, typingDelay);
            
            function type2() {
                const typingText2 = "Let us shoulder it for You..";
                const typingDelay2 = 40; // in milliseconds
                let index2 = 0;
                const typingEl2 = document.getElementById("typing2");
            
                function type2Inner() {
                    typingEl2.textContent += typingText2[index2];
            
                    if (++index2 < typingText2.length) {
                        setTimeout(type2Inner, typingDelay2);
                    }
                }
            
                setTimeout(type2Inner, typingDelay);
            }
            
            setTimeout(type2, typingDelay * typingText.length);
            

            </script>
  </body>

    </html>