<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/nav.css" />
        <link rel="stylesheet" href="../static/slideshow.css" />
        <link rel="stylesheet" href="../static/hospital.css" />


        <title>DRONOS</title>

      </head>
<body style="background-color: rgb(255, 255, 255);">
    <nav style="font-family: Arial, Helvetica, sans-serif">
      <a id="clicktohome" href="homepage.html"  style="
      width: 20%;
      float: left;
      position: relative;
      text-align: center;
      font-family: Hanson-Bold;
      font-size: 75px;
      color: black;"
      
        ><img
        src="../static/logo.png"
        alt="Site logo"
        style="height: 100px; margin-left: 30px; "
        
    /></a>
      <ul
        style="
          width: 35%;
          float: right;
          margin-right: 50px;
          text-align: center;
          margin-top: 20px;
          font-family: Circular;
          color: black;
        "
      >
        <li><a href="employee.html" style="color: black;">EMPLOYEE</a></li>
        <li><a href="recruiter.html" style="color: black;">RECRUITER</a></li>

        <li><a href="categories.html"style="color: black;">About Us</a></li>

      </ul>
    </nav>

    <div class="slideshow-container" style="font-family: Arial, Helvetica, sans-serif;background-image: url(../static/woman-behind-desk-scaled.jpg); background-size: cover; margin-top: 6%;">

          <div id="initial_container" style="font-family: Circular; font-weight: bold; text-align: right; margin-top: 9.5%; margin-right: 2%;" >POST YOUR <br> JOBS TODAY</div>
          <div id="typing" style="height:100px;" ></div>
        
       
       
        
    </div>
        <br>
        <!-- <div class="slideshow-container" style="font-family: Arial, Helvetica, sans-serif; background-color: white;">

          <div id="initial_container_2" style="font-family: Circular; font-weight: bold; text-align: left;margin-left: 2%;">FIND YOUR RECRUITS TODAY!<br> <section style="color: aliceblue; text-align: left; margin-left: 2%; margin-top: 4%; width: 50%; text-align: left ; font-size: 35px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: black; line-height: 60px;">KonnectNXT automates initial screening <br>process and provides Resume of the NXT hire <br> with overall profile insights & due diligence<br> even before they schedule the first call <br> with the potential NXT hire. </section>
          <img src="../static/Screenshot 2023-10-28 at 19-04-31 KonnectNXT - Optimizing Your Talent Database Intelligently.png" alt="" style="width:50%;height: auto right; margin-top: -350px;">
          </div>
       
       
        
    </div> -->

    <div style="height: 20%; font-family: Circular; font-size: 120px; font-weight: bold; text-align: center; margin-top: 2%;">
      FIND YOUR RECRUIT TODAY!
    </div>

    <div id="item-list"></div>


    <div class="flex-container" style="margin-top: 20px; height: 700px; ">
      <div class="flex-item">
        <a style="text-decoration: none; color: white" href="employee.html" target="_self">
          <p class="text-container1" style="font-size: 90px;">JOBS </p>
        </a>
      </div>
      <div class="flex-item">
        <a style="text-decoration: none; color: white" href="recruiter.html" target="_self">
          <p class="text-container1" style="font-size: 90px;">RECRUITS</p>
        </a>
      </div>


  
    </div>

        
          </div>

        <script>
 fetch('/getData')
            .then(response => response.json())
            .then(data => {
                const itemList = document.getElementById('item-list');
                data.forEach(item => {
                    const newItem = document.createElement('div');
                    newItem.classList.add('ncbox');
                    newItem.innerHTML = `
                        <div class="item">
                            <span style="font-weight: bold; font-size:70px;">${item.name}</span><br><br>
                            Department: ${item.department}<br>
                            Experience: ${item.experience}<br>
                            Contact No: <br>${item.contact}
                        </div>
                        <div class="price" style="background-image: url('${item.image_url}')"></div>
                    `;
                    itemList.appendChild(newItem);
                });
            })
            .catch(error => console.error(error));
            

            </script>
  </body>

    </html>